@tailwind base;
@tailwind components;
@tailwind utilities;
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-char {
  display: inline-block;
  animation: slideUp 0.5s ease forwards;
}
.delay-0 {
  /*H*/
  animation-delay: 0s;
}
.delay-1 {
  /*O*/
  animation-delay: 0.1s;
}
.delay-2 {
  /*R*/
  animation-delay: 0.2s;
}
.delay-3 {
  /*I*/
  animation-delay: 0.3s;
}
.delay-4 {
  /*Z*/
  animation-delay: 0.4s;
}
.delay-5 {
  /*O*/
  animation-delay: 0.5s;
}
.delay-6 {
  /*N*/
  animation-delay: 0.6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.title-container {
  margin-bottom: 20px;
  padding-left: 20px;
}

.image-container {
  padding-right: 40px;
  margin-bottom: 20vh;
}

.navbar-hover {
  width: 20px;
  height: 100vh;
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.navbar-hover:hover,
.navbar-pinned {
  width: 100px;
  transition: width 0.3s ease-in-out;
  opacity: 1;
}

/* Default state hidden for all icons and texts within navbar, except when navbar is pinned */
.navbar-hover .navbar-icons-container,
.navbar-hover .navbar-icon,
.navbar-hover .navbar-icons-container > h1 {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Hover and pinned state to show all icons and texts within navbar */
.navbar-hover:hover .navbar-icons-container,
.navbar-hover:hover .navbar-icon,
.navbar-hover:hover .navbar-icons-container > h1,
.navbar-pinned .navbar-icon,
.navbar-pinned .navbar-icons-container > h1 {
  opacity: 1;
}

.navbar-icon {
  text-align: center;
  align-self: center;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.navbar-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.navbar-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 0;
}

.navbar-pinned .navbar-icons-container,
.navbar-pinned .navbar-icon,
.navbar-pinned .navbar-icons-container > h1 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out; /* Ensure content is visible */
}

/* todo */
.hover-fill::before {
  content: "";
  position: absolute;
  width: 80%; 
  height: 80%; 
  background-color: #00bfff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.hover-fill:hover::before {
  opacity: 1;
}
.todo-exiting {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}